.header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding: 20px 0

  &-logo
    font-size: 36px
    font-weight: bold

    & span
      color: #505FD5

  &-link
    text-decoration: none
    margin-left: 40px
    font-size: 18px
    font-weight: normal
    color: black
    border: 2px solid transparent
    border-radius: 30px
    padding: 5px 15px
    transition-duration: .3s

  &-active
    color: white
    border: 2px solid transparent
    background-color: #505FD5
    border-radius: 30px
    padding: 5px 15px

  &-menu
    display: none

@media screen and (max-width: 1028px)
  .header-menu
    display: block

  .header-nav
    display: none

  .header-link
    margin-left: 0

@media screen and (max-width: 458px)
  .header-logo
    width: 100%
    margin-top: 20px

