.home
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  width: 100%
  justify-content: space-between

  &-box
    width: 50%

  &-title
    text-align: left

  &-subtitle
    font-size: 18px
    line-height: 2
    margin-bottom: 40px

  &-link
    text-decoration: none
    border: 2px solid #505FD5
    border-radius: 30px
    padding: 5px 15px
    font-size: 24px
    text-transform: uppercase
    color: black
    transition-duration: .5s
    margin-bottom: 20px

    &:hover
      background-color: #505FD5
      color: white

@media screen and (max-width: 1028px)
  .home-box
    width: 100%

  .home-box:last-child
    display: none

  .home-box
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

@media screen and (max-width: 640px)
  h1
    font-size: 24px

  .home-link
    font-size: 16px
