.contact
  margin-top: 40px
  display: flex
  align-items: flex-start
  width: 100%
  justify-content: space-between
  flex-wrap: wrap

  &-box
    width: 50%

.form
  display: flex
  flex-direction: column
  align-items: flex-start

  &-title
    text-align: left

  &-label
    width: 70%
    margin-bottom: 20px

  &-button
    display: flex
    justify-content: space-between
    width: 70%
    flex-wrap: wrap
    align-items: center
    margin-top: 20px

  &-modal
    margin-top: 20px
    font-size: 26px
    color: #505FD5
    display: flex
    align-items: center

    & p
      margin-right: 10px

.form-add, .form-clear
    font-size: 18px
    font-weight: bold
    color: #505FD5
    border-radius: 30px
    border: 2px solid #505FD5
    padding: 10px 25px
    transition-duration: .5s
    cursor: pointer
    text-transform: uppercase

    &:hover
      color: white
      background-color: #505FD5

.form-clear
    color: red
    border: 2px solid red

    &:hover
      color: white
      background-color: red

input
  border-radius: 5px
  background-color: transparent
  border: 2px solid #505FD5
  width: 100%
  padding: 15px 20px 15px 20px
  font-size: 18px
  margin-top: 10px

.paper
  position: absolute
  width: 650px
  border: 2px solid #505FD5
  border-radius: 5px
  background-color: white
  padding: 20px
  display: flex
  flex-direction: column
  align-items: center

@media screen and (max-width: 1028px)
  .contact-box:last-child
    display: none

  .form-label, .form-button, .contact-box
    width: 100%

@media screen and (max-width: 460px)

  .form-add, .form-clear
    width: 100%
    margin-bottom: 20px

