.about
  margin-top: 40px
  display: flex
  flex-direction: column
  align-items: center

  &-subtitle
    margin-bottom: 40px
    font-size: 22px
    text-align: center
    line-height: 1.8

  &-img img
    max-height: 400px

@media screen and (max-width: 1028px)
  .about-img
    display: none