.card:not(:last-child)
  margin-right: 30px

.card
  border: 2px solid #505FD5
  border-radius: 5px
  width: 30%
  padding: 20px 30px
  margin: 30px 0

  &-input
    border: 2px solid transparent
    padding: 0

  &-text
    margin-bottom: 20px
    color: #505FD5

  &-buttons
    margin-bottom: 30px
    display: flex
    flex-wrap: wrap
    flex-direction: column

    & button
      width: 100%

    & button:first-child
      margin-bottom: 20px

@media screen and (max-width: 1028px)
  .card
    width: 49%

@media screen and (max-width: 680px)
  .card
    width: 100%