body
  margin: 0

  & *
    margin: 0
    padding: 0
    border: 0
    outline: 0
    background-color: transparent
    box-sizing: border-box

.app-wrapper
  max-width: 1280px
  width: 100%
  margin: 0 auto
  padding: 0 30px
  font-family: Roboto, sans-serif

h1
  font-size: 48px
  color: #505FD5
  margin-bottom: 20px
  text-align: center